.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);

  div.container {
    width: 100%;
    max-width: 500px;

    background: #f5f5f5;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    h2 {
      border-bottom: 2px solid var(--color-green);
      text-align: center;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    div {
      padding: 0.5rem;
      text-align: center;
    }

    div:last-child {
      margin-top: 0.5rem;
      padding-top: 1rem;
      border-top: 2px solid var(--color-green);
    }
  }
}
